<nav class="navbar navbar-expand-lg navbar-dark bg-primary" style="padding: 5px 20px">
    <div class="container-fluid">
        <a class="navbar-brand" href="{{ path('app_home') }}">Blog information</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarColor01" aria-controls="navbarColor01" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarColor01">
            <ul class="navbar-nav me-auto">
                <li class="nav-item">
                    <a class="nav-link" href="{{ path('app_home') }}">Accueil</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{{ path('app_about') }}">About</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{{ path('app_contact') }}">Contact</a>
                </li>
                {% if is_granted("ROLE_ADMIN") %}
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" data-bs-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">Admin</a>
                        <div class="dropdown-menu">
                            <a class="dropdown-item" href="{{ path('app_admin_article_index') }}">Article</a>
                            <a class="dropdown-item" href="{{ path('app_admin_category_index') }}">Catégorie</a>
                            <a class="dropdown-item" href="{{ path('app_admin_comment_index') }}">Commentaire</a>
                        </div>
                    </li>
                {% endif %}
            </ul>
            <form class="d-flex" action="{{ path('app_search') }}">
                <input class="form-control me-sm-2" type="search" name="query" value="" placeholder="Recherche...">
                <button class="btn btn-secondary my-2 my-sm-0" type="submit">Rechercher</button>
            </form>
        </div>
    </div>
</nav>